<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Add Song</h1>

  <form action="/songs/add" method="POST">

    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title">
    </div>
    <br>
    <div>
      <label for="artist">Artist:</label>
      <input type="text" name="artist" id="artist">
    </div>
    <br>
    <button type="submit">Add Cast</button>
  </form>
</body>
</html>