<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%-include("partials/navbar", {page : 'Followers of this song'})%>

  <table border="1" width="0" >
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
    </tr>
    <% followers.Users.forEach(el => { %>
      <tr>
        <td> <%= el.name %> </td>
        <td> <%= el.gender%> </td>
        <td> <%= el.age %> </td>
      </tr>
    <% }) %>
  </table>
</body>
</html>